[Unit]
Description=Android Mobile Launcher GTK4
After=sanders-weston-minimal.service
PartOf=sanders-weston-minimal.service

[Service]
User=root
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=/usr/local/bin/sanders-launcher
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
